.react-calendar {
    width: 100%;
    font-family: 'Inter', sans-serif;
}
.react-calendar--doubleView {
    width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #1F1F1F;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}
.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none !important;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day abbr {
    color: #1F1F1F;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #C7C7C7;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.react-calendar__tile:disabled {
    background-color: transparent;
}
.react-calendar__tile:disabled abbr {
    color: #C7C7C7;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    border-radius: 50%;
}
.react-calendar__tile--now {
    color: #1565C0;
    font-weight: 700;
}
.react-calendar__tile--now abbr,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    color: #1565C0;
}
.react-calendar__tile--hasActive {
    background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}
.react-calendar__tile--active {
    background: #1565C0;
    border-radius: 50%;
}
.react-calendar__tile--active abbr {
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1565C0;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
.react-calendar__navigation__label,
.react-calendar__navigation button[disabled] {
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #666666;
    text-transform: capitalize;
}
.react-calendar__navigation button:enabled:hover {
    background-color: transparent;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    display: none;
}